<% if authenticated? && not_editing? %>
	<div class="page-actions">
		<hr>
		<%= link_to 'Edit page', edit_admin_page_path(@page), class: 'btn' %>
		<%= link_to 'New page', new_admin_page_path, class: 'btn btn-info' if Page.count < 5 %>
    <%= link_to 'Admin page', admin_root_path, class: 'btn btn-edit pull-right' %>
 	</div>
<% end %>
