<div class="gallery-index-view">
	<%= render 'posts/add_post' %>
	<% @posts.each_with_index do |post, index| %>
		<%= render 'posts/gallery_page_post', post: post, index: index %>
	<% end %>
	<div class="row-fluid">
    <div class="span12">
		  <%= paginate_posts %>
    </div>
	</div>
</div>
<%= render 'pages/page_actions' %>
