<div id="home">
	<div class="container-fluid">
		<%= render 'posts/add_post' %>
		<% @posts.each_with_index do |post, index| %>
			<%= render 'posts/home_page_post', post: post, index: index %>
		<% end %>
		<%= render 'pages/page_actions' %>
	</div>
</div>
