<% content_for :title do %> | <%= @page.title %> <% end %>
<div class="static-page-content">
	<%= render 'posts/add_post' %>
	<% @posts.each do |post| %>
		<%= render 'posts/static_page_post', post: post, new_post: false %>
	<% end %>
	<%= render 'pages/page_actions' %>
</div>

