<div class="row-fluid">
	<div class="offset1 span10">
		<div class="blog-post">
			<%= render 'posts/post_fields', post: post %>
      <%= render 'posts/post_image_field', post: post %>
		</div>
	</div>
</div>
