<% if authenticated? && not_editing? %>
  <div class="post-action-buttons">
    <%= link_to 'Edit post', "/editor#{request.path}?editing_post_id=#{post.id}", class: 'btn btn-edit' %>
  </div>
<% end %>
