<div class="row-fluid static-post <%= new_post ? 'new-post hidden' : '' %>">
	<div class="span6" style="padding-right:10px">
		<%= render 'posts/post_fields', post: post %>
	</div>
	<div class="span6" style="margin-left:0">
    <%= render 'posts/post_image_field', post: post %>
	</div>
</div>
